<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.2"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
    <!-- Define persistence unit -->
    <persistence-unit name="my-persistence-unit">
        <description>This is my first persistence unit</description>


        <properties>
            <!-- Define timeout for lock and query -->
            <property name="javax.persistence.lock.timeout" value="100"/>
            <property name="javax.persistence.query.timeout" value="100"/>
            <!-- database connection -->
            <!-- Driver -->
            <property name="hibernate.connection.driver_class" value="com.mysql.cj.jdbc.Driver"/>
            <!-- Database url -->
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/XXXXXXX"/>
            <!-- Autocommit -->
            <property name="hibernate.connection.autocommit" value="false"/>
            <!-- Username and password -->
            <property name="hibernate.connection.username" value="tutorial"/>
            <property name="hibernate.connection.password" value="password"/>
            <!-- Sth like a variant of a database language - for example: mySQL implementacion -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
            <!-- Charset, encoding and using unicode -->
            <property name="hibernate.connection.CharSet" value="utf8"/>
            <property name="hibernate.connection.characterEncoding" value="utf8"/>
            <property name="hibernate.connection.useUnicode" value="true"/>
            <!-- If we want to see database query and notification-->
            <property name="hibernate.show_sql" value="true"/>
        </properties>


    </persistence-unit>
</persistence>